**PANDAS LIBRARY PRACTICE**

Day1: import pandas library

In [207]:
import pandas as pd # calling pandas as pd
print("wellcome to pandas library ")

wellcome to pandas library

üìÖ Day 2: Series ‚Äì One Column of Data
üß† What‚Äôs a Series?

Think of it as a list with labels ‚Äî like one column in Excel.

In [208]:
fruits=['apple','orinage','banana'] # a list of 3 fruits
Series=pd.Series(fruits) # make a series of fruits
print(Series)

0      apple
1    orinage
2     banana
dtype: object

üìÖ Day 3: DataFrame ‚Äì A Whole Table
üß† What‚Äôs a DataFrame?

It‚Äôs like a whole spreadsheet table with rows and columns.

In [209]:
data = {
    "Name": ["Ali", "Sara", "Ahmed"],
    "Age": [12, 13, 11]
}
df=pd.DataFrame(data) # make a dataframe of the data
print(df)

    Name  Age
0    Ali   12
1   Sara   13
2  Ahmed   11

üìÖ Day 4: Reading Data from CSV
üß† What is a CSV?

It‚Äôs like a plain text Excel file.

In [210]:
df=pd.read_csv("student_exam_scores.csv")# load and read "student exam score" csv file
#print(df.head(3)) # show 1st three raws
#print(df.tail(3))# show last three raws
# print(df.info()) # show "data types" and "non null values" of each columns(variables) and "momery usage"
#df.describe() # show descriptive statistics(mean,max ,count ..etc ) of each columns

üìÖ Day 6: Selecting Columns or
üß† Accessing  columns:

In [211]:
df["exam_score"] # select or accces  one columns
df[["exam_score","previous_scores"]] # select or accces multiple columns

     exam_score  previous_scores
0          30.2               45
1          25.0               55
2          35.8               86
3          34.0               66
4          40.3               71
..          ...              ...
195        42.7               87
196        40.4               92
197        28.2               76
198        42.0               58
199        37.8               68

[200 rows x 2 columns]

# New Section

üìÖ Day 7: Selecting Rows
üß† Two ways:

.iloc[] ‚Äì by position

.loc[] ‚Äì by label

In [212]:
df = pd.DataFrame({
    "Name": ["Ali", "Sara", "Ahmed"],
    "Marks": [88, 92, 75]
}, index=["A", "B", "C"])
print(df)

    Name  Marks
A    Ali     88
B   Sara     92
C  Ahmed     75

In [213]:
df.iloc[0] # select the  raw at postion 0 (at index 0)
df.loc["A"] # select the raw with label "A" (at index 0 with label "A")

Name     Ali
Marks     88
Name: A, dtype: object

üêº Week 2: Data Access & Cleaning ‚Äì ‚ÄúStart Organizing‚Äù


üìÖ Day 8: selecting & Filtering Rows
üß† Goal:

Pick only the rows you want ‚Äî like saying:

‚ÄúShow me students with marks above 80!‚Äù

In [214]:
df[df["Marks"]>80]
df[df['Name']=="ali"] # in Name column select only student which name is  "ali"

Empty DataFrame
Columns: [Name, Marks]
Index: []

**rename  "Marks" columns with "obtained_Marks **

In [215]:
df=df.rename(columns={"Marks":"Obtained_Marks"})

üìÖ Day 9: Adding New Columns
üß† Goal:

Add useful new info ‚Äî like saying:

‚ÄúLet‚Äôs add a column showing total marks.‚Äù

In [216]:
df["Total_marks"]=[100,100,100]
print(df)

    Name  Obtained_Marks  Total_marks
A    Ali              88          100
B   Sara              92          100
C  Ahmed              75          100

**Add a columns that show percentage **

In [217]:
df["percentage"]= df["Obtained_Marks"]/df["Total_marks"]*100
print(df)

    Name  Obtained_Marks  Total_marks  percentage
A    Ali              88          100        88.0
B   Sara              92          100        92.0
C  Ahmed              75          100        75.0

üìÖ Day 10: Deleting Columns OR raws
üß† Goal:

Remove junk columns or raw  ‚Äî clean your table!

In [218]:
df.drop("percentage",axis=1,inplace=True)
#df.drop(2,axis=0,inplace =True) # drop or delete raw at posission 2
# del df["percentage"]# second Method

In [219]:
print(df)

    Name  Obtained_Marks  Total_marks
A    Ali              88          100
B   Sara              92          100
C  Ahmed              75          100

üìÖ Day 12: Handling Missing Values
üß† Goal:

Deal with empty/missing cells.

In [220]:
df.isnull().sum() # checking missing value
df.dropna(inplace=True)# delete all raws [which has any missing value ]
df.dropna(how="all",inplace=True) # delete all raws [which has all values are missing]
df.dropna(subset=["Total_marks"]) # delete all raws [if any value missing in "Total_marks"]
df.fillna(0,inplace=True)# fill all missing value with zero
df.fillna(df.mode(),inplace=True) # fill all missing value with mode of df
df.bfill(inplace=True) # backword fill
df.ffill(inplace=True)# forword fill
# I use "inplace=True" means i apply these function on my original dataframe

üìÖ Day 13: Sorting Data
üß† Goal:

Sort rows like ranking ‚Äî top scorer to bottom!

| What you want            | Use this                                    |
| ------------------------ | ------------------------------------------- |
| Sort smallest to largest | `df.sort_values("column")`                  |
| Sort largest to smallest | `df.sort_values("column", ascending=False)` |

In [221]:
df.sort_values(by="Obtained_Marks",ascending=False,inplace=True) # orginize value of "Obtaine_Marks" in decending order (highest to lowest)
df.sort_values(by=["Obtained_Marks","Name"])

    Name  Obtained_Marks  Total_marks
C  Ahmed              75          100
A    Ali              88          100
B   Sara              92          100

In [222]:
print(df)

    Name  Obtained_Marks  Total_marks
B   Sara              92          100
A    Ali              88          100
C  Ahmed              75          100

üìÖ Day 14: Apply Function to Column
üß† Goal:

Apply custom logic to every row.

In [223]:
df["Result"]=df["Obtained_Marks"].apply(lambda x: "pass" if x>=50 else "fail")
print(df)

    Name  Obtained_Marks  Total_marks Result
B   Sara              92          100   pass
A    Ali              88          100   pass
C  Ahmed              75          100   pass

üéØ Try this:

Create "Category" column:

‚ÄúA‚Äù if marks > 90

‚ÄúB‚Äù if > 80

else ‚ÄúC‚Äù

In [224]:
def Grade(e):
  if e>90:
    return "A"
  elif e>80:
    return "B"
  else:
    return "C"

In [225]:
df["Grade"]=df["Obtained_Marks"].apply(Grade)

| axis | What you're moving **along**  |
| ---- | ----------------------------- |
| 0    | Moving down the **rows**      |
| 1    | Moving across the **columns** |

üêº Week 3: Data Analysis & Grouping ‚Äì ‚ÄúBe the Data Detective‚Äù
üìÖ Day 15: Descriptive Statistics ‚Äì Quick Summary
üß† Goal:

Get quick info like average, count, min, max ‚Äî in seconds!

In [226]:
df["Obtained_Marks"].mean() # average of obtained_marks(should be numaric values)
df.count() # number of values in each columns
df['Obtained_Marks'].min() # smallest value in "obtained_marks"(should be numaric values )
df['Obtained_Marks'].max() # largest value in "obtained_marks"(should be numaric values )
df['Obtained_Marks'].median() # middle value in ascending order
df['Obtained_Marks'].std() # standard daviation
df.mode() # most repeated value
df.describe() ## Summary of numeric columns

       Obtained_Marks  Total_marks
count        3.000000          3.0
mean        85.000000        100.0
std          8.888194          0.0
min         75.000000        100.0
25%         81.500000        100.0
50%         88.000000        100.0
75%         90.000000        100.0
max         92.000000        100.0

üìÖ Day 16: Count & Value Frequencies
üß† Goal:

Know how many time each value apear in spacific columns

in other words :
frequency of each value in spacific columns

In [227]:
df['Result'].value_counts() # how many  passed/failed
df['Obtained_Marks'].value_counts() # how many 92/88/75 in columns (obtained marks)

Obtained_Marks
92    1
88    1
75    1
Name: count, dtype: int64

# New Section

üìÖ Day 17: Grouping with groupby() üß† Goal: Group data and calculate things like total, average, etc.

In [228]:
data = {
    'Team': ['Red', 'Blue', 'Red', 'Blue', 'Red', 'Green', 'Blue', 'Green'],
    'Player': ['Ali', 'Sara', 'Hassan', 'Ayesha', 'Omar', 'Bilal', 'Zara', 'Nadia'],
    'Score': [10, 20, 15, 30, 25, 40, 35, 50]
}

df = pd.DataFrame(data)
print(df)

    Team  Player  Score
0    Red     Ali     10
1   Blue    Sara     20
2    Red  Hassan     15
3   Blue  Ayesha     30
4    Red    Omar     25
5  Green   Bilal     40
6   Blue    Zara     35
7  Green   Nadia     50

In [229]:
df["Total_score"]=df.groupby("Team")["Score"].transform("sum")
df

    Team  Player  Score  Total_score
0    Red     Ali     10           50
1   Blue    Sara     20           85
2    Red  Hassan     15           50
3   Blue  Ayesha     30           85
4    Red    Omar     25           50
5  Green   Bilal     40           90
6   Blue    Zara     35           85
7  Green   Nadia     50           90

In [230]:
df.groupby("Team")["Score"].mean()

Team
Blue     28.333333
Green    45.000000
Red      16.666667
Name: Score, dtype: float64

 first it  make three groups (Blue, Green, Red) in "teams " column (combine the same values ) then calculate mean of score of each group

In [231]:
df.groupby("Team")["Player"].count() # number of players in each team

Team
Blue     3
Green    2
Red      3
Name: Player, dtype: int64

üìÖ Day 18: Multiple Aggregations
üß† Goal:

Get multiple summaries of multiple columns  at once using agg().

In [232]:
df.agg({"Score":["mean","median"]}) # mean and median of score
df.groupby("Team")["Score"].agg(["mean","median"])
#or
df.groupby("Team").agg({"Score":["mean","median"]}) # mean and median of score in each team
df.groupby("Team").agg({"Score":["mean","median"],"Total_score":"mean"}) # mean and median of score and mean of total score of each team

           Score        Total_score
            mean median        mean
Team
Blue   28.333333   30.0        85.0
Green  45.000000   45.0        90.0
Red    16.666667   15.0        50.0

üìÖ Day 19: Sorting After Grouping
üß† Goal:

See top groups ‚Äî e.g., which team has highest average

In [233]:
df.groupby('Team')["Score"].mean().sort_values(ascending=False)

Team
Green    45.000000
Blue     28.333333
Red      16.666667
Name: Score, dtype: float64